
.header_bg{
	background: rgba(0, 0, 0, 0.21);
}
.logo{
    height: 100px;
    width: 100px
}
.logo img{
    height: 100px;
    width: 100px
}
.phone_number{
    float: right;
}
.phone_number_area{
	text-align: right;
}
.phone_number_area h3{
	font-size: 18px;
    color: white;
	font-family: 'Oswald', sans-serif;
}
.phone_number p{
	font-size: 16px;
    color: white;
    font-family: 'Lato', sans-serif;
    float: right;
    margin-top: -5px;
font-family: 'Open Sans Condensed', sans-serif;
}
.phone{
	width: 153px;
    height: 34px;
    border-bottom: 2px solid white;	}

.main{
	text-align: center;
    margin-top: 44px;
}
.main h2{
	color: gray;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 25px;
	font-family: 'Oswald', sans-serif;
}
.main p{
    color: grey;
    font-size: 15px;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-bottom: 46px;
}
.content_bg{
	    background: rgba(128, 128, 128, 0.11);
}
.web_design{
	margin-top: 33px;
    width: 100%;
    background: white;
    border-radius: 5px;
    height: 146px;
	


}
.html5{
    overflow: hidden;
    margin-top: 24px;
}
.html{
    height: 100px;
    float: left;
	margin-right: 29px;
    margin-top: 25px;
    background: black;
    width: 100px;
    text-align: center;
    margin-left: 27px;
    border-radius: 100%;
}
.html img{
    height: 65px;
    width: 65px;
    margin-top: 18px;

}
.html5 h2{
	font-size: 19px;
    color: #62c8cb;
	font-family: 'Oswald', sans-serif;
	padding: 11px;
}
.html5 h2 a{
	text-decoration:none
}
.html5 p{
	color: gray;
    text-align: left;
	font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
    color: gray;
    text-align: left;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 0px 10px;
}
.footer_bg{
    height: 66px;
    width: 100%;
    background: #c9c9c9;
	height: 50px;

}
.footer_left p{
	float: left;
    font-size: 15px;
    color: #337ab9;
    margin-top: 16px;
    margin-right: 9px;
}
.footer{
    text-align: right;
}
.footer_left{
	text-align: left;
}
.footer_left a{}
.footer_left a i{
    text-decoration: none;
    padding: 19px 2px;
    font-size: 15px;
}
.footer_left a i:hover{color:gray}
.footer p a{text-decoration: none;}
.footer p a:hover{color:gray}
.footer p{
    font-size: 14px;
    margin-top: 14px;
    color: #403e3e;
}
.footer  a{

}
.new{}
.Office{
	margin-top: 33px;
    width: 100%;
    background: white;
    border-radius: 5px;
    height: 146px;
	margin-bottom: 100px;
}
.panel-group a{
	text-decoration:none
}
.panel-group a button{
	color: #337ab7;
    background: #c9c9c9;
    border: black;
    padding: 5px 10px;
    border-radius: 2px;
    margin-top: 20px;
}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}