.header{
	background-size: 100%;
    background-position: center;
    height: 705px;
    background: url(img/banner.jpg);
	background-repeat: no-repeat;
	    background-size: 100%;
}
.logo{
	margin-top: 40px;
    width: 152px;
    height: 64px;
    margin-bottom: 176px;
}
.logo img{
    width: 152px;
    height: 64px;
}
.phone_number_area{
	
}
.phone_number{
margin-top: 26px;
    float: right;
}
.phone{
    width: 153px;
    height: 34px;
    border-bottom: 2px solid white;	
}
.phone_number h3{

    font-size: 20px;
    color: white;
	font-family: 'Lato', sans-serif;
}
.phone_number p{
 
    font-size: 20px;
    color: white;
	font-family: 'Lato', sans-serif;
}
.banner{
}
.banner_text{
    position: absolute;
    margin-top: -487px;
    text-align: left;
    width: 100%;
}
.banner_text h2{
    font-size: 72px;
    color: white;
    text-transform: uppercase;
	    font-family: 'Roboto', sans-serif;
}
.banner_text h3{
	    font-size: 48px;
		    font-family: 'Roboto', sans-serif;
}
.banner_text p{
	    font-size: 36px;
    color: white;
	  font-family: 'Lato', sans-serif;
}
.button{
    text-align: center;
    height: 66px;
    width: 200px;
    background: #292986;
    margin: auto;
    border-radius: 37px;
    margin-bottom: 94px;
    margin-left: 469px;

}
.button a{
	font-size: 24px;
    color: white;
    text-decoration: none;
    margin-top: 30px;
    display: block;
    padding: 15px;
	font-family: 'Lato', sans-serif;
}
.about_us_new{
text-align:center
}
.about_us_new h2{
	    font-family: 'Lato', sans-serif;
    font-size: 36px;
    font-weight: bold;
	    margin-top: 52px;
}
.about_us_new h3{
	    font-size: 24px;
    margin-top: 30px;

    margin-bottom: 58px;

}
.about{
	    background: #EBE9E9;
		    text-align: center;
}
.about_us_new p{
	font-size: 17px;
    color: gray;
	margin-bottom: 37px;
	font-family: 'Lato', sans-serif;
}
.first_content{
	    width: 358px;
    height: 478px;
    background: #F5F5F5;
    text-align: center;
	    border-top: 4px solid #B5D19E;
    margin-bottom: 74px;
	    box-shadow: 2px 16px 23px -3px;
}
.first_content h2{
	
}
.new h2{
	    margin-top: 50px;
    margin-bottom: 27px;
    font-size: 36px;
    color: #414042;
}
.new p{
	font-size: 24px;
    color: #;
    color: #414042;
    margin-bottom: 79px;
	font-family: 'Lato', sans-serif;
}
.new_one{
	height: 49px;
	width: 289px;
    margin: auto;
    border-bottom: 1px solid rgba(158, 158, 158, 0.36);
    margin-bottom: 50px;
}
.new_one h2{
	    margin-top: 37px;
    margin-bottom: 28px;
	font-size: 30px;
}
.{}
.first_content i{
	    font-size: 67px;
    color: #1f196c;
    margin-bottom: 75px;
}
.first_content p{
	    font-size: 17px;
    padding: 0px 12px;
    color: gray;
    margin-bottom: 24px;
	font-family: 'Lato', sans-serif;
}
.first_content h3{
    background-image: linear-gradient(to right,#94A5BF,#B9D3A0);
    padding: 23px 10px;
    font-size: 20px;
    color: white;
}
.why{margin-bottom: 36px;}
.why strong{
	    font-size: 24px;
    margin-left: 15px;
	font-family: 'Lato', sans-serif;
}
.see{
	width: 100%;
    height: 66px;
}
.why_we_us{
	text-align: center;
    margin-top: 50px;
	
}
.why_we_us h2{
	    margin-bottom: 30px;
    color: black;
	    font-size: 36px;
}
.why_we_us h3{
	    margin-bottom: 50px;
    font-size: 24px;
}
.why_we_us p{
	    font-size: 17px;
    margin-bottom: 106px;
	    color: gray;
		font-family: 'Lato', sans-serif;
		    text-align: left;
}
.icon{
	    width: 30px;
    float: left;
    margin-right: 30px;
}
.icon i{
	    font-size: 23px;
    margin-top: 8px;
}
.text1{
	font-size: 24px;
    color: gray;
}
.text1 p{
	       margin-bottom: 22px;
		   font-family: 'Lato', sans-serif;
}
.shadow{
    width: 295px;
    height: 295px;
    background: rgba(0, 0, 0, 0.6);
    margin-top: -295px;
    position: absolute;
    opacity: 0.0;
	text-align:center;

}
.shadow:hover{
	opacity: 0.7;
}
.shadow h2{color: white;
    margin-bottom: 111px;
	font-family: 'Lato', sans-serif;}
.shadow h3{color:white;
font-family: 'Lato', sans-serif;}
.shadow i{
    font-size: 20px;
    margin-top: 13px;
    padding: 3px 5px;
    background: #7d7bff;
    border-radius: 4px;

}
.bg2{}
.footer_border{
    height: 40px;
    width: 76%;
    border-bottom: 2px solid white;
    margin: auto;
}
.footer_border h3{
	font-family: 'Lato', sans-serif;
}
.top5{}
.top6{
	width: 555px;
    height: 331px;
    box-shadow: -1px 7px 18px -4px;
}
.top6 video{
	    width: 555px;
    height: 331px;
}
.our_trainers{
	text-align: center;
    margin-top: 50px;
}
.our_trainers h2{
    font-size: 36px;
    color: white;
	font-weight: bold;
	font-family: 'Lato', sans-serif;
}
.our_trainers p{
	    font-size: 24px;
    color: white;
    margin-bottom: 58px;
	font-family: 'Lato', sans-serif;
}
.about_us{
    width: 295px;
    height: 295px;
}
.about_us img{
	 width: 295px;
    height: 295px;
}
.footer_bg{
	    background: #2a2987;
    margin-top: 87px;
}
.footer_bg_1{
	    height: 100px;
    width: 100%;
    background: #7d7bff;
}
.footer_logo{
	width: 150px;
    height: 60px;
    margin-top: 25px;
}
.footer_logo img{}
.footer_text{}
.footer_text p{
	color: white;
    margin-top: 37px;
    font-size: 24px;
	font-family: 'Lato', sans-serif;
}
.follow_us{
	    text-align: right;
}
.follow_us p{
	    font-size: 24px;
    color: white;
    margin-top: 18px;
	font-family: 'Lato', sans-serif;
}
.follow_us i{
	    padding: 4px 7px;
    background: white;
    border-radius: 4px;
    color: #7d7bff;
}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}